<div class="ui grid">
  <div class="four">
    <app-card title="Установите новый пароль">
      <form *ngIf="!submitted" [formGroup]="passwordForm" (submit)="setPassword()">
        <label>
          Новый пароль
          <input type="password" formControlName="password">
          <span class="error-hint" *ngIf="passwordForm.controls.password.invalid">{{getError('password')}}</span>
        </label>
        <label>
          Новый пароль ещё раз
          <input type="password" formControlName="confirmPassword">
          <span class="error-hint" *ngIf="passwordForm.controls.confirmPassword.invalid">{{getError('confirmPassword')}}</span>
        </label>
        <button type="submit" class="lg wide">Сохранить</button>
      </form>
      <app-message *ngIf="submitted">Вы успешно установили новый пароль!</app-message>
      <button class="lg wide" *ngIf="submitted" (click)="login()">Войти</button>
    </app-card>
  </div>
  <div class="four mt-24">
    <app-card [sm]="true">
      <div class="flex ai-center jc-center lh-64">
        <a routerLink="/login" routerLinkActive="active">Войти</a>&nbsp;
        <span>или</span>&nbsp;
        <a routerLink="/register" routerLinkActive="active">Зарегистрироваться</a>
      </div>
    </app-card>
  </div>
</div>
