<div class="ui grid">
  <div class="four">
    <app-card title="Вход">
      <form [formGroup]="loginForm" (submit)="login()">
        <label>
          Логин
          <input type="text" formControlName="login">
          <span class="error-hint" *ngIf="loginForm.controls.login.invalid">{{getError('login')}}</span>
        </label>
        <label>
          Пароль
          <input type="password" formControlName="password">
          <span class="error-hint" *ngIf="loginForm.controls.password.invalid">{{getError('password')}}</span>
        </label>
        <button type="submit" class="lg wide" [disabled]="loginForm.invalid">Войти</button>
        <a class="mt-8" routerLink="/restore" routerLinkActive="active">Забыли пароль?</a>
      </form>
    </app-card>
  </div>
  <div class="four mt-24">
    <app-card [sm]="true">
      <div class="flex ai-center jc-center lh-64">
        <span>Ещё нет аккаунта?</span>&nbsp;
        <a routerLink="/register" routerLinkActive="active">Зарегистрируйтесь</a>
      </div>
    </app-card>
  </div>
</div>
