<div class="ui grid">
  <div class="four">
    <app-card title="Восстановление пароля">
      <form [formGroup]="restoreForm" (submit)="restore()" *ngIf="!submitted">
        <label>
          Логин
          <input type="text" formControlName="login">
          <span class="error-hint" *ngIf="restoreForm.controls.login.invalid">{{getError('login')}}</span>
        </label>
        <button type="submit" class="lg wide">Восстановить</button>
      </form>
      <app-message *ngIf="submitted">
        Мы отправили вам на почту инструкции по восстановлению пароля. Чтобы восстановить доступ к аккаунту,
        пройдите по ссылке из письма. Если этого письма нет во «Входящих», пожалуйста, проверьте «Спам».
      </app-message>
      <button *ngIf="submitted" class="outline mt-32 lg wide" type="button" (click)="resend()">Отправить повторно</button>
    </app-card>
  </div>
  <div class="four mt-24">
    <app-card [sm]="true">
      <div class="flex ai-center jc-center lh-64">
        <a routerLink="/login" routerLinkActive="active">Войти</a>&nbsp;
        <span>или</span>&nbsp;
        <a routerLink="/register" routerLinkActive="active">Зарегистрироваться</a>
      </div>
    </app-card>
  </div>
</div>
