<div class="ui grid">
  <div class="four">
    <app-card title="Регистрация">
      <form [formGroup]="registerForm" (submit)="register()">
        <label>
          E-mail
          <input type="text" formControlName="email">
          <span class="error-hint" *ngIf="registerForm.controls.email.invalid">{{getError('email')}}</span>
        </label>
        <label>
          Логин
          <input type="text" formControlName="login">
          <span class="error-hint" *ngIf="registerForm.controls.login.invalid">{{getError('login')}}</span>
        </label>
        <label>
          Пароль
          <input type="password" formControlName="password">
          <span class="error-hint" *ngIf="registerForm.controls.password.invalid">{{getError('password')}}</span>
        </label>
        <label>
          Пароль ещё раз
          <input type="password" formControlName="confirmPassword">
          <span class="error-hint" *ngIf="registerForm.controls.confirmPassword.invalid">{{getError('confirmPassword')}}</span>
        </label>
        <button type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
      </form>
    </app-card>
  </div>
  <div class="four mt-24">
    <app-card [sm]="true">
      <div class="flex ai-center jc-center lh-64">
        <span>Уже зарегистрированы?</span>&nbsp;
        <a routerLink="/login" routerLinkActive="active">Войдите</a>
      </div>
    </app-card>
  </div>
</div>
