<div class="ui grid">
  <div class="six">
    <app-search (search)="onSearch($event)"></app-search>
    <div *ngIf="questions" class="question-list">
      <app-question *ngFor="let question of questions" [question]="question"></app-question>
    </div>
    <div *ngIf="hasMore" class="more" (click)="loadMore()">
      <app-card sm="true">
        <div class="flex ai-center jc-center lh-64 point">
          <span class="fs-20 mr-8">Загрузить ещё</span>
          <fa name="angle-double-down" class="fs-21 bold"></fa>
        </div>
      </app-card>
    </div>
  </div>
</div>
